
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$font-family-base: 'Montserrat', sans-serif;
$headings-font-family: 'Furio';
$primary: #e77725;
$secondary: #6c757d;
$success: #198754;
$danger: #dc3545;
$warning: #ffc107;
$info: #0dcaf0;
$light: #efefef;
$dark: #0e1f2f;
$card-color: #292929;
$modal-backdrop-bg: $dark;
$modal-backdrop-opacity: 0.9;
$modal-content-color: $dark;
$modal-content-bg: $light;
$nav-tabs-link-active-bg: $light;
$nav-link-hover-color: $light;
$nav-link-color: $light;
$navbar-toggler-font-size: 2rem;
$offcanvas-bg-color: $dark;
$offcanvas-color: $light;
$offcanvas-border-color: $secondary;
$nav-link-font-size: 1.25rem;
$nav-link-hover-color: $info;



//@ Addition of various style

html {
    overflow-y: scroll;
}

.bal-gradient {
    font-size: 12px;
    font-style: normal;
    font-family: "Montserrat";
    background-image: linear-gradient(90deg, #0f1f2e, #e57a3b);
    border-bottom: 1px solid #e57a3b;
    height: 50px;
}

.bal-font-mobile {
    font-size: 11px;
}

hr {
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 2px solid !important;
    visibility: hidden;
}

.nav-udl:focus hr{
    border-bottom: 2px solid #e57a3b !important;
    visibility: visible;
}

.nav-udl-mobile {
    font-size: 13px !important;
    font-weight: 400 !important;
    padding-left: 45px !important;
    width: fit-content !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.nav-udl-mobile:focus hr{
    border-bottom: 2px solid #e57a3b !important;
    visibility: visible;
}

.nav-udl-mobile-website {
    font-size: 13px !important;
    font-weight: 400 !important;
    padding-left: 45px !important;
    width: fit-content !important;
    padding-bottom: 30px !important;
}

.nav-udl-mobile-website:hover {
    text-decoration: none;
}


.link {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
    color: #e6e6e6;
}

.nav-udl {
    color: #FFFFFF !important;
}



//button

.btn-wallet-connect {
    border: 1px solid !important;
    width: 150px;
    height: 100px;
    border: 0px !important;
    font-size: 12px !important;
    border-radius: 15px !important;
}


.btn-conf {
    border: 0px !important;
    border-radius: 20px !important; 
    background-image: linear-gradient(90deg, #f8bf4c, #e77b3b);
    color: #FFFFFF !important;
    width: 200px;
    height: 50px;
}

.btn-conf-mobile {
    border: 0px !important;
    border-radius: 15px !important;
    background-image: linear-gradient(90deg, #f8bf4c, #e77b3b);
    color: #FFFFFF !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    width: 150px;
    height: 40px;
    margin-left: 35px !important;
    margin-bottom: 30px !important;
}

.btn-logout{
    color: #FFFFFF !important;
    background-image: linear-gradient(90deg, #f8bf4c, #e77b3b) !important;
    border: 0px !important;
    border-radius: 15px !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-cicon{
    padding: 0 !important;
    width: 20px !important;
    height: 20px !important;
}

.btn-cicon:focus{
    box-shadow: none !important;
}

//ctext

.ctext-addr{
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    font-family: Open Sans, sans-serif;
    text-align: left;
}

.ctext-logout{
    color: #e77b3b !important;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    font-size: 13px;
    font-family: Open Sans, sans-serif;
}

.ctext-logout:hover {
    text-decoration: none;
    cursor: pointer;
}

.ctext-addr-scan {
    color: #e77b3b;
}


//Tooltip

.ctooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .ctooltip .ctooltiptext {
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -.5rem;
    right: -8rem;
  }

//modal

.loginmodal-center {
    justify-content: center !important;
}

.loginmodal-size {
    border-radius: 20px !important;
    border: 0px !important;
    width: 350px !important;
}

.logoutmodal-center {
    justify-content: center !important;
}

.logoutmodal-c {
    border: 0px !important;
    border-radius: 20px !important;
}

//sidebar
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #181c2c;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 100px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-weight: 300 !important;
    font-size: 40px !important;
  }
  
  .closebtn:hover {
    text-decoration: none;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .cheight {
    height: 100vh !important;
    padding-top: 17vh !important;
    padding-bottom: 17vh !important;
  }

///---------------------------------------

.footer .nav-link {
    color: $light;
}
.footer .nav-link i {
    color: $primary;
    padding-right: 5px;
}
.footer .social .nav-link {
    font-size: 1.75em;
    padding: .25rem;
}
.footer .social .nav-link i {
    color: $info;
}
.footer .social .nav-link i:hover {
    color: $primary;
}

//text

.ctext-addr{
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    font-family: Open Sans, sans-serif;
    text-align: left;
}

//media

.bg-custom-mobile {
    background-color: #0d1f30 !important;
}

//Tooltip

.ctooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .ctooltip .ctooltiptext {
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -.5rem;
    right: -8rem;
  }

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.scss";
[v-cloak] > * { display: none; }
body {
    background-image: url("../images/background.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
}
@font-face{
    font-family:"Furio";
    src: url("../fonts/furio.woff") format("woff");
    font-weight:normal;
    font-style:normal;
}

/* #Button
================================================== */
.btn-info { color: #fff; background: linear-gradient(0deg, rgba(229,122,59,1) 0%, rgba(239,173,42,1) 50%);
	-webkit-border-radius:	5px;
	-moz-border-radius:		5px;
	border-radius:			5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    border-color: #e57a3b !important;
}
.btn-info:hover { background: #e57a3b; text-decoration: none; border-color: #e57a3b !important; }
