@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@layer base {
    @font-face {
        font-family: "Furio";
        src: url("../fonts/furio.woff") format("woff");
        font-weight: normal;
        font-style: normal;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Furio";
}
